src/main/mule/global/retrieveconsolidatedroutesandschedule-fastgo-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
<flow name="retrievetravelontiproutesandschedule-sapi-main">
        <http:listener config-ref="retrievetravelontiproutesandschedule-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrievetravelontiproutesandschedule-sapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
                 </error-handler>
    </flow>
    <flow name="retrievetravelontiproutesandschedule-sapi-console">
        <http:listener config-ref="retrievetravelontiproutesandschedule-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrievetravelontiproutesandschedule-sapi-config" />
		<error-handler ref="globalErrorHandlerError_Handler" />
    </flow>
    <sub-flow name="retrievetravelontiproutesandschedule-sapi-InitialiseRequestVariable-Sub_Flow" doc:id="e11791cd-0c08-4f0b-af61-0530496fa48e" >
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:retrievetravelontiproutesandschedule-sapi-config">
		<flow-ref doc:name="Flow Reference Initialise Request Variable" doc:id="db0472cc-4201-4aed-9e89-c946ce38bd37" name="retrievetravelontiproutesandschedule-sapi-InitialiseRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="51b85bac-010a-4665-9328-024ed93cc853" message="Request Recieved for Routes TravelOnTip SAPI for TransactionId:  #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="646e8fcf-7515-4151-897a-4acf970d86fc" name="travelOnTip-getRoutes-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="0860da04-9b02-4e73-8cd1-42ebb10fedf1" message="Response Sent for Routes TravelOnTip SAPI for TransactionId:  #[vars.transactionId]"/>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:retrievetravelontiproutesandschedule-sapi-config">
		<flow-ref doc:name="Flow Reference Initialise Request Variable" doc:id="66a0c702-a708-42fc-a485-5831e2c358bc" name="retrievetravelontiproutesandschedule-sapi-InitialiseRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="36c4c14c-0cb6-4757-9d56-e6deeab47234" message="Request Recieved for Schedules Routes TravelOnTip SAPI for TransactionId:  #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="008b58c5-3d9b-4d49-9935-6ac45f5e382b" name="travelOnTip-getSchedules-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="2631db81-7fff-46be-a550-f7a8843ba9c4" message="Response Sent for Schedules TravelOnTip SAPI for TransactionId:  #[vars.transactionId]"/>
    </flow>
</mule>
